body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #272727;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Chrome, Safari, Edge, and Opera */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no-spinner {
  -moz-appearance: textfield;
}
